name: Lint (golangci-lint)

# Trigger on pushes to main and on PRs targeting main
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: binary-build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'   # adjust version if needed

      - name: Build binary
        run: |
          go build -v -o spade 

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: spade-binary
          path: spade

  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.0'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest          
